.btnBlue{
    border: 1px solid blue;
   background-color: blue;
    border-radius: 100%;
    margin: 2px;
    padding: 8px;
    cursor: pointer;
}
.btnYellow{
    border: 1px solid yellow;
   background-color: yellow;
    border-radius: 100%;
    margin: 2px;
    padding: 8px;
    cursor: pointer;
}
.btnPink{
    border: 1px solid pink;
   background-color: pink;
    border-radius: 100%;
    margin: 2px;
    padding: 8px;
    cursor: pointer;
}
*{
    font-family: serif;
}
.btnAdd{
    background-image: linear-gradient(to right, #48d0ef 0%, #3a7dd5 30%, #8604d2 80%);
 margin: 10px;
  padding: 15px 90px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  border: none;
}